In [1]:
import sqlite3

In [19]:
#creating the databaes connection

db=sqlite3.connect("testing.db")

db.execute("drop table if exists resilts")

try:
  db.execute("create table users(name varchar,mobile number,marks number,age number)")

except:
  print("table already exist")

table already exist

In [20]:
#function to add the data into databse
def addData():
  name=input("enter a name")
  mobile=int(input("enter a mobile number"))
  marks=int(input("enter a marks"))
  age=int(input("enter age of student"))
  query="insert into users(name,mobile,marks,age)values('{}','{}','{}','{}')".format(name,mobile,marks,age)
  db.execute(query)
  db.commit()

In [21]:
#function to show all data from table
def showdata():
  
 query="select *from users"
 result=db.execute(query)
 for r in result:
   print(r)

In [8]:
#add the data
addData()

enter a nameakshay
enter a mobile number9595949588
enter a marks98
enter age of student21

In [16]:
#show data
showdata()

('akshay maruti sutar', 9588623393, 70, 21)
('sushant', 3465343565, 98, 21)
('akshay maruti sutar', 9588623393, 70, 21)
('akshay', 9595949588, 98, 21)

In [18]:
#update the data
query="update users set marks=98 where name='sushant'"
db.execute(query)
db.commit()